@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@keyframes fadeInUp{ 
	0%{ opacity: 0.9; transform: translateY(0%); }
  100%{ opacity: 1; transform: translateY(-100%); }
		}
@keyframes goUp{ 
	0%{ opacity: 0.9; transform: translateY(100%); }
  100%{ opacity: 1; transform: translateY(0%); }
		}
@keyframes test{ 
	from{ opacity: 0.9; transform: translateY(0%); }
  to{ opacity: 1; transform: translateY(-100%)}
		}

@-webkit-keyframes fadeInDown {
  0% {
  opacity: 0.9;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0.9;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 


	@-webkit-keyframes fade-in-right {
  0% { opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
   
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-up {
  0% { opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
   
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
:root{
	--top: 4%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
}
*::-webkit-scrollbar {/*hidde scrollbar*/
    display: none;
}

a{
	text-decoration: none;
}
h1{
    /*font-size: -webkit-xxx-large;*/
		 font-size: 5.9vw;
		margin: var(--top) 0 var(--top) 0;
			text-align: center;
}	
h2{
	/*font-size: x-large;*/
	font-size: 4vh;
	padding-left: 40%;
	}
main h2:hover{
text-decoration: line-through;
}
h2:hover,.backHome:hover{
		color: gray;
	}
p {
  font-size: 0.9em;
}
body{
	display: grid;
	grid-template-columns: 65% 35% ;
	width: 100vw;
	height: 100vh;
	overflow: hidden; 
}
main, aside{
	position: relative;
	display: grid;
	grid-template-rows: 100% 100%;	
 	height: 100vh;
 }
 
aside{
 height: 100vh;
 background-color: whitesmoke;
position: relative;
text-align: right;
}
aside * {
padding: 0;
}

.underflow_aside{
	height: 100%;
	background-color: white;
	/*animation: fadeInUp 1s;
    animation-duration: 1s;
animation-fill-mode: forwards;*/
}
.underflow_main{
	display: grid;
	height: 100%; 
	background-color: black;
	color:whitesmoke;
	}
.underflow_main, .overflow_main {
	grid-template-columns: 1fr 2fr  ;
}
.underflow_main > div p, 
.overflow_main > div p{
margin: 10% 0 0 25%;
}
.underflow_main > div:nth-child(1), 
.overflow_main > div:nth-child(1){
	margin-top: var(--top);
	position: relative;
	display: grid;
	grid-template-rows: auto 50px auto;
	height: 100%; 
	align-content:stretch;
}
.statics_photos.bottom{
max-width:112%;
max-height:100%;
justify-self: stretch;
align-self: end;
}
 .statics_photos.aside{
	position: absolute;
	max-width: 61%;
  bottom: 208px;
  right: -138px;
    /* border-top-left-ra
   /*border-top-left-radius: 50%; */
    /* border-bottom-right-radius: 50%; */
    /* border-bottom-left-radius: 50%; */
    /* border-top-right-radius: 50%; */
}

.overflow_main,.overflow_aside{
	display: none;
	height:100%;
}
.overflow_main{
	background-color:whitesmoke;
	color:black;
	 grid-template-areas:
        "LEFT RIGHT"
        "DOWN DOWN";
}
.overflow_main.scale-up-ver-top_transition > div:nth-child(1){
grid-area: LEFT;
}
.overflow_main.scale-up-ver-top_transition > div:nth-child(2){
grid-area: RIGHT;
}
footer{
	grid-area: DOWN;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:100% ;
	height: 100%;
	background-color: rgba(156, 151, 151, 0.5);
}	
.overflow_aside{
	animation-fill-mode: forwards;
	grid-template-rows: 4fr auto;
	padding-bottom:10% ;
	background-color:black;
	color:whitesmoke;
	text-align: center;
}
.scale-up-ver-top_transition{
	/*z-index: 1;*/
	animation: fadeInUp;
	animation-duration: 1s;
}
.underFlow_aside-Transition{
	animation: test;
	/*animation-delay: 0.2s;*/
	animation-duration: 1s;
}
.under_main-Transition{
	-webkit-animation-name:goUp;
  animation-name:goUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.scale-up-ver-bottom_transition{
	/*z-index: 1;*/
	-webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.subtittle{
	opacity: 0;
}
.textTransition{
	animation-name: fade-in-right;
	animation-duration: 0.15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@media screen and (max-width: 1024px){
	.underflow_main > div:nth-child(1), .overflow_main > div:nth-child(1){
		display: none;
	}
}